<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
  <h1>PAGE POTIN</h1>
  Voici la page du potin n°<%=id.to_i+1%> <br/>
  
  Son auteur : <%= gossip.author%> <br/>

  Le contenu du potin : <%= gossip.content%><br/>

  <a href = "/">Lien pour revenir à la page des potins</a><br/>
  <a href="/gossips/<%=id%>/edit/">Éditer le potin</a><br/>
  <a href="/gossips/<%=id%>/comment/">Commenter le potin</a><br/>
  <br/>
  Commentaires

  <% comments.each_with_index do |comment,index| if comment.gossip_id == id then%>
    <p>
    <%= index.to_i+1 %> - <%= comment.author %> - <%= comment.content %>
    </p>
    <% end %>
  <% end %>
  </body>
</html>